@tailwind base;
@tailwind components;
@tailwind utilities;

/***/
#preLoder{
  background: #000 url('../dist/img/homepage/circle-loader-gif-2.gif') no-repeat center center;
  z-index: 9999;
  background-size: 10%;
}

/**---
  Dark-btn
  --**/

  /* @layer utilities{ */
    .text-gradient{
      background-clip:text;
      -webkit-text-fill-color: transparent;
    }
  /* } */
#toggle:checked ~ label div.toggle-bot,
#toggleTwo:checked ~ label div.toggle-bot{
 @apply translate-x-7

}


@keyframes one{
  0%{
transform: scale(0);
  }
  100%{
transform: scale(1.2);
  }
}

@keyframes two{
  0%{
transform: scale(0);
  }
  100%{
transform: scale(1.2);
  }
}


/**---
  header curcle -animation image
  --**/ 

/**---
  Humburger-menu
  --**/

.humburger-middle{
  transform: translateY(7px);
}
.humburger-bottom{
  transform: translateY(14px);
}

.open{
  transform: rotate(90deg);
  transform: translateY(0px);
  top:8px

}
.open .humburger-top{
  transform: rotate(45deg);
  translate: (6px);
  transform: rotateY(6px);
}
.open .humburger-middle{
  display: none;
}
.open .humburger-bottom{
  transform: rotate(-45deg);
  translate: (6px);
  transform: rotateY(-6px);
}

/**---
  Humburger-menu
  --**/


  /**---
 underline hover
  --**/

/* .clip.active {
transition-delay: .2s;
  transform: scale(1);
} */

.play::after{
  animation: two 4s infinite;
  transition: .4s;
}

/**---
  header curcle -animation image
  --**/

  .bg-header::after,
  .bg-header::before
   {
    
    animation: two 4s infinite;
    transition: .4s;
  }


    /*progress-bar*/
    .leading-loose {
      line-height: 1.2 !important;
    }
    .bar::after
     {
      content: attr(data-text);
      position: absolute;
      right: 0;
      top: -2.5rem;
      font-size: 20px;
      /* color:#FBB957; */
      text-align: center;
      border-radius: 0.1rem;
     
      font-weight: 400;
    }
    .barN::after
     {
     
      color:#333333;
      
    }
    .bar.two::after
    {
     
     color:#fff;
    
   }
  

/**portfolio-css**/
.hovereffets,
.overlay{
 
  background: rgba(0, 0, 0, 0.5 );
  -webkit-transition:all 0.4s ease-in-out ;
  transition:all 0.4s ease-in-out;
}

.hovereffets img,
.hovereffets h2
{
  filter: alpha(opacity=0);
  -webkit-transition:all 0.4s linear;
  transition:all 0.4s linear;
}

 .hovereffets:hover h2,
.hovereffets:hover .overlay

 {
  opacity: 1;
  filter: alpha(opacity=100);
  transition-delay:.2s ;
  -webkit-transition-delay: .2s;
} 
.hovereffets:hover img{
  -ms-transform:scale(1.2) ;
  -webkit-transform:scale(1.2)  ;
  transform:scale(1.2);
} 

/**portfolio-css**/

.slide {
  margin: 0 5px;
}
.slick-slider img{
  width:100%;
}
img.full {
  width: 100% !important;
}
/**pricing-table*/


.slick-slider img {
  width: initial;
}

.ring-two{
 
  -webkit-animation: ring 3s linear infinite;
  animation: ring 3s linear infinite;

}
@keyframes ring {
  0%{
    transform: rotate(0deg);
  }
  50%{
    transform: rotate(180deg); 
  }
  100%{
    transform: rotate(360deg);
  }
}


.n-size{
  width:22px !important;
}


/**slider***/


.imgContainer {

  -ms-overflow-style: none;
 
}
.imgContainer::-webkit-scrollbar{
  display: none;
}
.cards {
 
  /* column-gap: 10px; */
  pointer-events: painted;
  animation: slidescroll 20s linear infinite;
}
.cards:hover{
  animation-play-state:paused ;
  }
  
  @keyframes slidescroll{
    0%{
      transform: translateX(0);
    }
    100%{
      transform: translateX(calc(-40%));
    }
  }
  


